@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.my-input {
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  display: block;
  width: 100%;
  resize: none;
  margin-bottom: 10px;
}

.my-shadw {
  box-shadow: 12px 12px 10px 1px #808080ad;
}

.my-color {
  color: #08d364;
}

.make-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}