:root {
  --main-color: #efefef;
  --primary-color: #1d2d3d;
  --secondary-color: #495e74;
  --gray-color: #778697;
  --dark-color: #292b2c;
  --blue-color: #0275d8;
  --green-color: #27ae60;
  --green-sea-color: #16a085;
  --pumpkin-color: #d35400;
  --red-color: #d9534f;
  --white-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
}

body {
  /* background-color: var(--main-color); */
  background-image: url("https://images.unsplash.com/photo-1615799998603-7c6270a45196?q=80&w=1604&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: contain;

}

a {
  text-decoration: none;
}

.skiptranslate {
 /* display: none;  */

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* Some Global Classes For icons */
.bi-pencil-square {
  color: var(--green-sea-color);
  margin-right: 15px;
}

.bi-trash-fill {
  color: var(--red-color);
}

/* Scrollbar Classes For Google Chrome */
html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background-color: rgb(187, 179, 179);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--dark-color);
  border-radius: 15px;
}
